---
Checks: 'clang-diagnostic-*,clang-analyzer-*,bugprone-*,modernize-*,performance-*,readability-*,-readability-magic-numbers,-readability-function-cognitive-complexity,-modernize-macro-to-enum,-clang-diagnostic-pragma-once-outside-header,-readability-non-const-parameter,-readability-identifier-length,-bugprone-easily-swappable-parameters,-bugprone-reserved-identifier'
FormatStyle: file
