---
Checks: 'clang-diagnostic-*,clang-analyzer-*,bugprone-*,modernize-*,performance-*,readability-*,hicpp-*'
HeaderFileExtensions:
  - h
ImplementationFileExtensions:
  - c
FormatStyle: file
SystemHeaders: false
